{% if not new_products and not top_products and not banners %}
<div class="w-full px-6">
    <div class="mt-8 relative rounded-lg container mx-auto flex flex-col items-center pt-12 sm:pt-24 pb-24 sm:pb-32 md:pb-48 lg:pb-56 xl:pb-64">
        <img class="mr-2 lg:mr-12 mt-2 lg:mt-12 absolute right-0 top-0"
             src="https://tuk-cdn.s3.amazonaws.com/can-uploader/center_aligned_with_image-svg2.svg" alt="bg"/>
        <img class="ml-2 lg:ml-12 mb-2 lg:mb-12 absolute bottom-0 left-0"
             src="https://tuk-cdn.s3.amazonaws.com/can-uploader/center_aligned_with_image-svg3.svg" alt="bg"/>

        <div class="w-11/12 sm:w-2/3 mb-5 sm:mb-8 text-center">
            <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center font-bold leading-tight">The
                Freedom to Create <br> The Shop of Your Dreams</h1>
            <h2 class="text-lg font-semibold text-indigo-600 mt-8">Created with love <br> by passionated developers ❤️</h2>
        </div>
        <div class="pl-3 flex justify-center items-center sm:mb-20">
            <button type="button"
                    class="mr-5 inline-flex items-center rounded-md border border-transparent bg-gray-600 px-6 py-3 text-sm font-medium text-white shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <!-- Heroicon name: mini/plus -->
                <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                </svg>
                Create new
            </button>
        </div>
    </div>
    <div class="container mx-auto flex justify-center md:-mt-56 -mt-20 sm:-mt-40">
        <div class="relative sm:w-2/3 w-11/12">
            <img src="https://tuk-cdn.s3.amazonaws.com/assets/components/hero/h_2.png" alt="Sample Page" role="img"/>
        </div>
    </div>
</div>
{% endif %}